/.project
.DS_Store
templates/backup
node_modules
cms/sessions

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Optional npm cache directory
.npm
