{% extends "layout.html" %} {% block header %}
<title>Seite 1 Title</title>
{% endblock %} {% block content %}
<div>

	<div class="container">
		<div class="row">
			<div class="col-lg-10 col-lg-offset-1 text-center"><h2 cms="0">In Arztpraxen gibt es oft viel Veränderung !!!</h2><h6 cms="3i6c">Geänderte Öffungszeiten, Urlaub odersssss neue Mitarbeiter können dazu führen, dass Sie Inhalte ihrer Homepage aktualisieren möchten.</h6></div>
		</div>

		<div class="row text-center" style="margin-top: 40px;">
			<div class="col-md-4 col-sm-6" cms="1"><h4><strong>AA AAAA BBB</strong><br></h4><p style="text-align: justify;" data-mce-style="text-align: justify;"><span style="color: #777777; text-align: justify;" data-mce-style="color: #777777; text-align: justify;">Das Ganze ist so einfach und selbsterklärend, dass jeder Ihrer Praxismitarbeiter1 ohne Schulung damit umgehen kann.aaaa bbb !!!!!!</span></p><p>&nbsp;<br></p></div>

			<div class="col-md-4 col-sm-6" cms="2"><h4 class="text-blue service-heading">CMS</h4><p class="text-muted text-justify" style="text-align: justify;" data-mce-style="text-align: justify;">Das Ganze ist so einfach und selbsterklärend, dass jeder Ihrer Praxismitarbeiter ohne Schulung damit umgehen kann.</p></div>

			<div class="col-md-4 col-sm-6" cms="444"><h4>ksjdsfkjjsk</h4><p style="text-align: justify;" data-mce-style="text-align: justify;"><span style="color: #777777; text-align: justify;" data-mce-style="color: #777777; text-align: justify;">Das Ganze ist so einfach und selbsterklärend, dass jeder Ihrer Praxismitarbeiter ohne Schulung damit umgehen kann.</span></p></div>

		</div>

		<button onclick="saveContent()">Save</button>

	</div>
</div>




{% endblock %}
