{% extends "layout.html" %} {% block header %}
<title>Kontakt</title>
{% endblock %} {% block content %}

<script src="../static/contact_me.js"></script>

<!-- Contact Section -->
<section id="contact" style="padding-top: 150px">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="text-center">
					<h2 class="section-heading">Send mail</h2>
					<h4 class="text-white">Wir freuen uns von Ihnen zu hören</h4>
				</div>
			</div>
		</div>

		<div class="row" style="margin-top: 30px;">
			<div class="col-md-6 col-md-offset-3">
				<form name="sentMessage" id="contactForm" novalidate  action="sendmail" method="post">
					<div class="form-group">
						<input type="text" name="subject" class="form-control" placeholder="Subject *" id="name" required
							data-validation-required-message="Bitte geben Sie Ihren Namen ein.">
						<p class="help-block text-danger"></p>
					</div>
					<div class="form-group">
						<textarea name="message" class="form-control" placeholder="Message *" id="message" required
							data-validation-required-message="Bitte geben Sie Ihre Nachricht ein."></textarea>
						<p class="help-block text-danger"></p>
					</div>
					<div class="clearfix"></div>
					<div class="form-group text-center">
						<input type="submit" value="Submit">
					</div>
				</form>
			</div>
		</div>

	</div>
</section>

{% endblock %}
