<html>
  <head>
    <meta charset="UTF-8">
    {% include "__cms/initCms.tpl" %}
    <!-- Additional header content that could be passed from each individual page -->
    {% block header %}{% endblock %}



    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css">
    <script src="jquery/dist/jquery.js"></script>
    <script src="bootstrap/dist/js/bootstrap.js"></script>

    <!-- Include the following lines just when user is authenticated-->
    {% if isAuth %}
        <script src="tinymce/tinymce.min.js"></script>
        <script src="cms.js"></script>
        <link rel="stylesheet" href="cms.css">
    {% endif %}

  </head>
  <body style="padding-top:70px;">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
		<!-- {% if isAuth %} -->
        <div class="navbar-header">
          <a class="navbar-brand" href="#">CMS: Editieren</a>
        </div>
        <!-- {% endif %} -->
        <div id="navbar">
          <ul class="nav navbar-nav navbar-right">
            <li class="home"><a href="/">Home</a></li>
            <li class="page2"><a href="page2">Page 2</a></li>
            {% if isAuth %}
                <li><a href="/logout">Logout</a>
            {% else %}
                <li class="login"><a href="/login">Login</a></li>
            {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>


    <!-- Content that is defined in the individual page -->
    {% block content %}{% endblock %}



  </body>
</html>
