{% extends "__cms/cms.html" %}
{% block layoutHeader %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>

    <style>
        .lang-button-active{
          font-weight: bold;
        }
        body{
          padding-top:70px;
        }
    </style>
{% endblock %}

{% block layoutBody %}
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header" style="margin-right: 15px;">
          <a class="navbar-bran lang-button-de" href="/?lang=de">de</a>
          <a class="navbar-bran lang-button-en" href="/?lang=en">en</a>
        </div>
	<!-- {% if isAuthenticated %} -->
          <div class="navbar-header">
            <a class="navbar-brand" href="#">CMS: Editieren</a>
          </div>
        <!-- {% endif %} -->
        <div id="navbar">
          <ul class="nav navbar-nav navbar-right">
            <li class="home"><a href="/">Home</a></li>
            <li class="page2"><a href="page2">Page 2</a></li>
            <li class="kontakt"><a href="kontakt">Contact</a></li>
            {% if isAuthenticated %}
                <li><a href="/logout">Logout</a></li>
            {% else %}
                <li class="login"><a href="/login">Login</a></li>
            {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <!-- Content that is defined in the individual page -->
    {% block content %}{% endblock %}

{% endblock %}
